<!DOCTYPE html>
<html>
{% load i18n %}
<head>
    <meta charset="utf-8" />
    <title>{% trans "Figaro ou Gorafi ?" %}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/readable/bootstrap.min.css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <style>
        body {
            padding-top: 70px;
        }

        .headline-text {
            overflow: hidden;
        }

        .headline-actions {
            float: right;
        }
        
        .score-view {
            margin-left: 10px;
            text-align: right;
        }

        .headline-entry {
            overflow: hidden;
        }

        .headline-entry > div {
            padding-top: 8px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{% trans "Figaro ou Gorafi&nbsp;?" %}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">{% trans "Jeu" %}</a></li>
                <li><a href="#">{% trans "Stats" %}</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="headline-actions">
            <div class="btn-group-vertical">
                <button class="btn btn-primary btn-lg" type="button">Figaro</button>
                <button class="btn btn-primary btn-lg" type="button">Gorafi</button>
            </div>
        </div>
        <div class="headline-text">
            Un problème de signalisation sur la ligne 6 du métro empêche Jay-Z de se
            rendre à son concert à Bercy
        </div>
    </div>
</div>

<div class="container">
    <div>
        <div class="pull-right score-view">
            50% (5/10)
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 50%;">
                <span class="sr-only">50% Good</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 50%;">
                <span class="sr-only">50% Bad</span>
            </div>
        </div>
    </div>

    <div>
        <div class="alert alert-success headline-entry">
            <a class="btn btn-success pull-right"
               href="http://www.figaro.fr/"
               target="_blank">Figaro</a>

            <div>
                Il se met un doigt dans le cul pour faire l'avion et relance la croissance.
            </div>
        </div>
        <div class="alert alert-danger headline-entry">
            <a class="btn btn-danger pull-right"
               href="http://www.legorafi.fr/"
               target="_blank">Gorafi</a>

            <div>
                Il se met un doigt dans le cul pour faire l'avion et relance la croissance.
            </div>
        </div>
    </div>
</div>
</body>
</html>
